/*@font-face {
  font-family: 'gameOfThrones',
  src: url('../assets/gameofthrones.ttf');
}*/

body {
  background-image: url('../assets/mochaGrunge.png');
  font-family: 'Montserrat', sans-serif;
}

table {
  border: black 2px solid;
}
caption {
  font-weight: 700;
  font-size: 24px;
}
table caption {
  font-family: 'Noticia Text', sans-serif;
}
.heading {
  font-weight: 700;
}
.data {

}
.characterTable .playerTable .teamTable {
  float: left;
}
